* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html, body {
    width: 100vw;
}

body {
    height: 100vh;
    background: rgb(55, 89, 134);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    max-width: 400px;
    margin: 0 auto;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content  button{
    background: rgb(46, 54, 63);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.7em;
    padding: 15px;
}

.flash-container {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flash {
    border-radius: 5px;
    color: #fffff9;
    font-size: 1.6em;
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 0px 5px rgba(0,0,0,0.58);

    display: flex;
    align-items: center;
    justify-content: center;
}

.flash.warn {
    background: #ffef52;
}

.flash.error {
    background: #940009;
}

.flash.info {
    background: #06a3d2;
}

.flash.message {
    background: #f8efed;
}